* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px 12px;
}

nav {
    display: none;

    border: 1px solid gray;
    background-color: lightgray;
    /*display: flex; */
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    width: fit-content;

    position: absolute;
    /* z-index: -1; */
    top: 40px;
}

.mobile-btns {
    display: none;
}

.menu-container {
    order: -1;
    background-color: chocolate;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.menu-container:hover nav {
    /* background-color: yellow; */
    display: flex;
}