p{
    margin: 0;
    padding: 0;
}

.item-1{
    background-color: orange;
    height: 300px;
    width: 500px;

}

.item-2{
    background-color: green;
    height: 300px;
    width: 60%;

}

.item-3{
    background-color: blue;
    height: 300px;
    width: 60vw;
}  