*{
    margin:0;
    padding:0;
    box-sizing: border-box; 

}

div{
height:100px;
width: 100px;
background-color: lightblue;
border: 2px solid brown;
}

.item1{
    position: relative;
    left: 25px; 
    top: 25px;
    background-color: lightgreen;
    z-index: -1;
}

.item2{
    position: absolute;
    /*left:100px; 
    top: 100px;*/
    top: 50%;
    left:50%;
    background-color: red;
    z-index: 1;
    transform: translate(-50%, -50%);

}

.item3{
    position: fixed;
    /*left:100px; 
    top: 100px;*/
    top: 50%;
    left:50%;
    background-color: pink;
    z-index: 1;
    transform: translate(-50%, -50%);

}