p{

color: red;
background-color: yellow;
width: 150px;

text-decoration: overline;
text-decoration: line-through;
text-decoration: underline;
}

#medium{ 
    text-decoration: underline wavy;
}

a{
    text-decoration: none;

    color:bisque;
    background-color:darkblue;
}

p{
    font-family:"Brush Script MT", cursive; (fallback)
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}